{
  "*.{js,css}": [
    "prettier --write",
    "git add"
  ],
  "*.js": [
    "eslint --fix --max-warnings 0",
    "git add"
  ],
  "*.css": [
    "stylelint --fix --max-warnings 0",
    "git add"
  ]
}
